* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

.hero-section {
  height: 70vh;
  width: 100%;
  background: url("./images/bg.png") no-repeat center center;
  background-size: cover;
  background-size: top left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.login-btn {
  position: fixed;
  top: 20px;
  right: 40px;
  background-color: #c0c0c0;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #a9a9a9;
}

.menu-btn {
  position: fixed;
  top: 20px;
  left: 40px;
  font-size: 2rem;
  cursor: pointer;
}

.tagline {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #c0c0c0;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  font-size: 2rem;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.carousel-item {
  text-align: center;
  padding: 10px;
}

.carousel-item img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
  position: relative;
  width: 80%;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 200px;
  text-align: center;
  flex-shrink: 0;
  gap: 90px;
}

.carousel-item p {
  font-size: 1rem;
  color: #c0c0c0;
  position: relative;
  bottom: 40px;
}

.arrow-btn {
  background-color: #555;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.arrow-btn:hover {
  background-color: #777;
}

.left-arrow {
  position: absolute;
  left: -30px;
}
.left-arrow,
.right-arrow {
  position: absolute;
  right: 20px;
  width: 40px;
  height: 50px;
  background-color: #c0c0c0;
  display: inline-block;
  border-radius: 50%;
  font-size: 1rem;
  color: black;
}
